.bodyClass{
  background-color: #1E3163;
  padding: 5%;
}

.appTitle{
  color: #126e82;
  padding-bottom: 1.5rem;
}

.formDesc{
  padding-bottom: 1.5rem;
  color: #126e82;
}

.btn{
  margin-bottom: 1rem;
}


.previewImg{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.predictionText{
  color: #194350;
}

.appDevName{
  padding-top: 7rem;
  font-size: 24px;
  color: #126e82;