<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <title>Health4u</title>
</head>
<body>
  
  <!--<nav class="container">
    <a href="../about" class="about" style="margin-left:2%;">About</a>
  </nav>-->
 <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="../about" class="about">About</a>
    <a href="#myContact" class="about">Contact</a>
  </div>

<div class="main">
  <!--TOP-SECTION-->
   <div id="top-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-sm-6" style="margin-top:2rem;">
          <b><p class="heading">Health4u </p></b>
          <h5>A one stop place for solving all your medical problems</h5>
          <p>This portal can help you with medical solutions and yes, for FREE!!</p>
          <a href="#mid-section" class="btn" style="background-color:black;color:white;">Check It Out</a>
        </div>
        <div class="col-12 col-sm-6 image">
          <img src="../static/Images/title.jpg" alt="" height="140rem" width="80%">
          <img src="../static/Images/doc.png" alt="" height="350rem" width="80%">
        </div>
      </div>
    </div>
  </div>

  <!--MID-SECTION-->
  <div id="mid-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-2">
          <div class="card" >
            <img src="../static/Images/cancer.jpg" class="card-img-top cancer" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title"> Cancer <br> Detection</h6>
              <a href="../cancer" class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-2" style="margin-left:6rem;">
          <div class="card" >
            <img src="../static/Images/Diabetes Mellitus.jpg" class="card-img-top diabetes" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title">Diabetes <br> Detection</h6>
              <a href="../diabetes" class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-2" style="margin-left:6rem;">
          <div class="card">
            <img src="static/Images/heart.jpg" class="card-img-top heart" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title">Heart Disease <br> Detection</h6>
              <a href="../heart" class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
        </div>

      <div class="col-12 col-sm-2" style="margin-left:6rem;">
          <div class="card">
            <img src="static/Images/kidney.jpeg" class="card-img-top kidney" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title"> Kidney Disease<br>Detection</h6>
              <a href="../kidney" class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
      </div>
    </div>


      <div class="row" style="margin-top:2rem;margin-left:6rem;">
        <div class="col-12 col-sm-2" style="margin-left:2rem;">
          <div class="card" >
            <img src="static/Images/liver.jpg" class="card-img-top liver" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title"> Liver Disease<br>Detection</h6>
              <a href="../liver" class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-2" style="margin-left:6rem;">
          <div class="card">
            <img src="static/Images/cataract.jpg" class="card-img-top cataract" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title"> Cataract<br>Classification</h6>
              <a href="../cataract" class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-2" style="margin-left:6rem;">
          <div class="card">
            <img src="static/Images/pneumonia.jpg" class="card-img-top pneumonia" alt="...">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title "> Pneumonia<br>Classification</h6>
              <a href="../pneumonia " class="btn btn-block mt-auto" target="_blank">Click Here</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
</body>

<footer>
  <table style="width: 43%;" id="myContact">
    <h1>Little About me!!</h1>
    <tr>
      <th><h3>Shikhar Katyayan </h3></th>
      <td><a href="http://www.linkedin.com/in/shikhar-katyayan"><i class="fa fa-linkedin-square" style="font-size:24px" target="_blank"></i></a></td>
      <td><a href="https://github.com/shikhar0503"><i class="fa fa-globe" style="font-size:24px" target="_blank"></i></a></td>
    </tr>
    <tr>
      <th><h6>Data Science Enthusiast</h6></th>
    </tr>
  </table>
</footer>
</html>